@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">As part of our free services (which are available to all customers), we will use the information you provide (including personal information such as your name and address, but excluding any Bank account information provided through our optional open banking services) and your current and historical credit.</p>
