@model BankWebApp.Models.CardModel

@{
  ViewData["Title"] = "Applicant Result";
  var creditCardOffered = !(Model is null);
  var imgPath = $"/images/{Model?.CardImageSrc}";
}

<h1>Applicant Result</h1>

<div>
  @if (creditCardOffered)
  {
  <h4>@{@Model.CardName} (<b>APR @{@Model.APR.Value.ToString("0.####")}</b>)</h4>
  }
  <hr />
  @if (creditCardOffered)
  {
    <p><b>@{@Model.PromotionalMessage}</b></p>
    <p><img src="@Url.Content(imgPath)" alt="Image" /></p>
  }
  else
  {
    <p><b>No credit cards are available.</b></p>
  }
</div>
